.main {
  &-container {
    padding-top: 11.6rem;
    height: 100vh;
    text-align: center;
    position: relative;
    &-title {
      font-size: 3.4rem;
      font-weight: 300;
      line-height: 4.1rem;
    }
    &-title-white {
      color: #fff;
    }
    &-img {
      width: calc(27.5rem);
      margin: 3.2rem auto;
    }
    &-desc {
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 2.2rem;
    }
    &-desc-white {
      color: #fff;
    }
  }
  &-container-blue {
    background-color: #324299;
  }
}
