/* common */
html {
  font-size: 62.5%;
}
body {
  -webkit-text-size-adjust:none;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  input, textarea, div[contenteditable="true"], code {
    -webkit-text-size-adjust: text;
    -ms-user-select: text; 
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
  }
}
body, div, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, header, footer, main, article, section, aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, input, textarea, select, button, table {
  font-size: 1.6rem;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.4;
  color: #000;
}
img, fieldset {
  border: 0;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  &:active, &:hover, &:focus {
    color: #000;
  }
}
input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}
input[type="checkbox"], input[type="radio"] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0,0,0,0);
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}
input {
  &:disabled,
  &:read-only:not(select) {
    // -webkit-text-fill-color: $gray070;
    // color: $gray070;
    opacity: 1; /* required on iOS */
    // border-bottom-color: $gray050;
    background-color: transparent;
  }
  &:read-only.readonly-bk {
    // -webkit-text-fill-color: $black;
    // color: $black;
    opacity: 1; /* required on iOS */
  }
  &.readonly-bk::placeholder {
    // -webkit-text-fill-color: $gray050;
    // color: $gray050;
    opacity: 1; /* required on iOS */
  }
}
// input::placeholder {
//   color: $gray050;
// }

// input focus 시 placeholder 투명
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color:transparent;
}

// input clear button 제거
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
   display: none; 
}
// input number arrows 제거
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  // outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}
ul, ol {
  list-style: none;
}
table {
  border-collapse: collapse;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
b, strong {
  font-weight: 500;
}
hr {
  margin: 0;
}
//focus outline remove 21.02.24 포커스 작업시 삭제 하고 작업
:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

//320이하 디바이스 글꼴대응 테스트 후에 적용 여부 확인
@media(max-width: 320px) {
  html {
    font-size: 9px;
  }
}