/* common */
html { font-size: 62.5%; }

body { -webkit-text-size-adjust: none; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; user-select: none; }

body input, body textarea, body div[contenteditable="true"], body code { -webkit-text-size-adjust: text; -ms-user-select: text; -moz-user-select: -moz-text; -webkit-user-select: text; user-select: text; }

body, div, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, header, footer, main, article, section, aside { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, input, textarea, select, button, table { font-size: 1.6rem; font-family: 'Noto Sans KR', sans-serif; line-height: 1.4; color: #000; }

img, fieldset { border: 0; }

a { color: #000; text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05); }

a:active, a:hover, a:focus { color: #000; }

input, select, textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; -webkit-border-radius: 0; }

input[type="checkbox"], input[type="radio"] { overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0, 0, 0, 0); border: 0; -webkit-appearance: none; -moz-appearance: none; border-radius: 0; -webkit-border-radius: 0; }

input:disabled, input:-moz-read-only:not(select) { opacity: 1; /* required on iOS */ background-color: transparent; }

input:disabled, input:read-only:not(select) { opacity: 1; /* required on iOS */ background-color: transparent; }

input:-moz-read-only.readonly-bk { opacity: 1; /* required on iOS */ }

input:read-only.readonly-bk { opacity: 1; /* required on iOS */ }

input.readonly-bk::-webkit-input-placeholder { opacity: 1; /* required on iOS */ }

input.readonly-bk:-ms-input-placeholder { opacity: 1; /* required on iOS */ }

input.readonly-bk::-ms-input-placeholder { opacity: 1; /* required on iOS */ }

input.readonly-bk::placeholder { opacity: 1; /* required on iOS */ }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: transparent; }

input::-ms-clear, input::-ms-reveal { display: none; width: 0; height: 0; }

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration { display: none; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

button { border: 0; border-radius: 0; background-color: transparent; cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05); }

ul, ol { list-style: none; }

table { border-collapse: collapse; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

b, strong { font-weight: 500; }

hr { margin: 0; }

:focus { outline: 0; outline-color: transparent; outline-style: none; }

@media (max-width: 320px) { html { font-size: 9px; } }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 100; src: local("Noto Sans KR Thin"), url("../Noto_Sans_KR/NotoSansKR-Thin.otf") format("otf"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: local("Spoqa Han Sans Light"), url("../Noto_Sans_KR/NotoSansKR-Light.otf") format("otf"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: local("Noto Sans KR Regular"), url("../Noto_Sans_KR/NotoSansKR-Medium.otf") format("otf"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: local("Noto Sans KR Medium"), url("../Noto_Sans_KR/NotoSansKR-Medium.otf") format("otf"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: local("Noto Sans KR Bold"), url("../Noto_Sans_KR/NotoSansKR-Bold.otf") format("otf"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 900; src: local("Noto Sans KR Black"), url("../Noto_Sans_KR/NotoSansKR-Black.otf") format("otf"); }

.btn-container { -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; bottom: 0; width: 100%; padding: 0 2.4rem 3.2rem; }

.btn-container .btn-primary { -webkit-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; height: 5.2rem; margin: 0 auto; border: none; border-radius: 0.6rem; background-color: #324299; }

.btn-container .btn-primary span { color: #fff; font-size: 1.7rem; font-weight: 500; letter-spacing: -0.041rem; }

.btn-container .btn-primary-line { border: 0.1rem solid #fff; }

.slick-dots { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; top: 51.5rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.slick-dots li button { width: 1rem; height: 1rem; margin: 0 0.3rem; border-radius: 100%; text-indent: -99999px; background-color: rgba(0, 0, 0, 0.2); }

.slick-dots .slick-active button { border: 0.2rem solid #fff; }

.slick-dots .slick-active button[aria-label="2 of 4"] { border: 0.2rem solid #324299; }

.slick-dots .slick-active button[aria-label="4 of 4"] { border: 0.2rem solid #324299; }

.main-container { padding-top: 11.6rem; height: 100vh; text-align: center; position: relative; }

.main-container-title { font-size: 3.4rem; font-weight: 300; line-height: 4.1rem; }

.main-container-title-white { color: #fff; }

.main-container-img { width: calc(27.5rem); margin: 3.2rem auto; }

.main-container-desc { font-size: 1.7rem; font-weight: 300; line-height: 2.2rem; }

.main-container-desc-white { color: #fff; }

.main-container-blue { background-color: #324299; }
